@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&family=Poppins:ital,wght@0,200;0,500;1,200;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.remirror-theme .remirror-editor {
    @apply min-h-screen focus:outline-none
}
.remirror-theme h1,
.remirror-theme h2,
.remirror-theme h3,
.remirror-theme h4,
.remirror-theme h5,
.remirror-theme h6 {
    @apply mt-4 mb-2 border-b
}
.remirror-theme h1 {
    @apply text-xl font-bold text-burnOrange border-burnOrange
}
.remirror-theme h2 {
    @apply text-lg font-bold text-yellow-500 border-yellow-500
}
.remirror-theme h3 {
    @apply font-bold text-burnOrange border-burnOrange
}
.remirror-theme h4 {
    @apply font-bold text-yellow-500 border-yellow-500
}
.remirror-theme h5 {
    @apply font-bold text-burnOrange
}
.remirror-theme h6 {
    @apply font-bold text-yellow-500
}
.remirror-theme p {
    @apply my-1
}

.remirror-theme ul:not([data-idea-list]):not([data-task-list]) {
    @apply list-disc ml-6
}
.remirror-theme li[data-task-list-item] {
    @apply flex gap-2
}
.remirror-theme li[data-task-list-item] label {
    @apply w-4 h-4
}
.remirror-theme li[data-task-list-item] label {
    @apply my-1
}
.remirror-theme li[data-idea-list-item] label {
    @apply my-2
}
.remirror-theme li[data-task-list-item] input[type=checkbox] {
    @apply relative float-left mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-red-400 checked:bg-red-400 checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent
}
.remirror-theme ol {
    @apply list-decimal ml-6
}
.remirror-theme b,
.remirror-theme strong {
    @apply text-red-700
}
.remirror-theme em,
.remirror-theme i {
    @apply text-purple-700
}
.remirror-theme blockquote {
    @apply border-x my-2 border-stone-400 p-4 bg-stone-700 text-stone-300
}